
.hlogo {
  height: 15vh;
  width: 50vh;
  margin: 1vh;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navflx {
  display: inline-flex;
  text-align: center;
  margin-left:2vh;
  margin-right:2vh;
}

.navflx li {
  margin-left:2vh;
  margin-right:2vh;
  margin-top: 5vh;
  list-style-type: none;
}
.navflx a {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
}



.hero {
  background-color: #495E57;
  display: flex;
  justify-content: space-between;
}

.Title {
  display: block;
  font-size: 64pt;
  color: #FACE14;
  margin-left: 10vh;
}

.subTitle {
  display: block;
  font-size: 32pt;
  color: #FFF;
  margin-left: 10vh;
}

.mlogo {
  height: 35vh;
  width: 30vh;
  margin: 1vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-right: 20vh;
}

.txt {
  color: #FFF;
  font-size: 18pt;
  margin-left: 10vh;
  width: 70vh;
}

.mbutton {
  background-color: black;
  color: #FFF;
  margin-left: 10vh;
  margin-top: 5vh;
  height: 7vh;
  width: 30vh;
  border-radius: 1em;
}